<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:fragment="header">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Provision Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addProv}">Add Provisions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/viewprov}">Manage</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>